section05-bg.jpg@import url(https://fonts.googleapis.com/css?family=Roboto:400, 500, 700);
    body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.navbar-default {
    background-color: #fff;
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-brand {
    height: 90px;
    min-height: 90px;
    padding: 25px;
    font-size: 24px;
    line-height: 40px;
    color: #141e28;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #141e28;
    background-color: transparent;
}
.navbar-brand>img {
    float: left;
    margin-right: 6px;
    vertical-align: middle;
}
.navbar-default .navbar-nav {
    margin: 0 -15px;
}
.navbar-default .navbar-nav>li>a {
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 40px;
    color: #141e28;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #141e28;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a.menu-fb img {
    float: left;
    display: block;
    margin: 10px 5px 0 0;
    vertical-align: middle;
}
.navbar-default .navbar-collapse {
    border-color: #dabea8;
}
.navbar-default .navbar-toggle {
    position: relative;
    float: right;
    margin: 26px 15px 0 0;
    padding: 12px 10px;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #141e28;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ff4d2f;
}
@media(min-width:768px) {
    .navbar-default .navbar-nav>li>a {
    padding: 25px;
}
}
.section {
    height: 667px !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
}
.section .fp-tableCell {
    height: 100% !important;
}
.section .container {
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section h2 {
    margin-bottom: 25px;
    font-size: 30px;
    color: #000;
}
.section h3 {
    font-size: 18px;
    color: #000;
}
@media(min-width:768px) {
    .section {
    min-height: 100%}
.section .fp-tableCell {
    min-height: 100%}
.section h2 {
    font-size: 36px;
}
}
#section-1 {
    background-image: url('../img/section01-bg.jpg');
}
#section-1 .info {
    position: absolute;
    left: 15px;
    right: 15px;
    z-index: 20;
    top: 50%;
    margin-top: -180px;
}
.foodomo-logo {
    margin-bottom: 10px;
}
.foodomo-logo img {
    display: block;
    margin: 0 auto;
}
.slogan {
    height: 90px;
    margin-bottom: 10px;
    background: url('../img/slogan-text-m.png') 50% 0 no-repeat;
    background-size: 100% auto;
}
.ul-download-buttons {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}
.ul-download-buttons li {
    margin-bottom: 20px;
}
.ul-download-buttons li:last-child {
    margin-bottom: 0;
}
.ul-download-buttons li img {
    display: block;
    margin: 0 auto;
}
#section-1 .page-next {
    display: none;
}
@media(min-width:360px) {
    .foodomo-logo {
    margin-bottom: 35px;
}
.slogan {
    margin-bottom: 30px;
    background-size: auto;
}
}
@media(min-width:768px) {
    .slogan {
    background-image: url('../img/slogan-text.png');
}
.ul-download-buttons {
    width: 400px;
}
.ul-download-buttons li {
    float: left;
    width: 200px;
}
#section-1 .page-next {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 60px;
    width: 78px;
    margin-left: -39px;
    opacity: .9;
}
#section-1 .page-next:hover {
    opacity: 1;
}
#section-1 .page-next img {
    display: block;
    margin: 0 auto;
}
}
#section-2 {
    background-color: #fafafa;
}
#section-2 .info {
    position: relative;
    z-index: 20;
    margin-top: 150px;
    padding: 0 30px;
}
#section-2 .foodomo-doll {
    width: 100%;
    max-width: 360px;
    min-height: 400px;
    margin: 0 auto;
    background: transparent url(../img/section02-foodomo-m.jpg) 50% no-repeat;
    background-size: 100% auto;
}
@media(min-width:768px) {
    #section-2 .info {
    position: absolute;
    left: 0;
    top: 50%;
    width: 500px;
    margin-top: -42px;
    padding: 0;
}
#section-2 .foodomo-doll {
    position: absolute;
    right: 50px;
    top: 50%;
    z-index: 5;
    width: 595px;
    height: 599px;
    max-width: 100%;
    margin-top: -300px;
    background-image: url(../img/section02-foodomo.jpg);
}
}
#section-3 {
    background-color: #fff;
}
#section-3 .info {
    position: relative;
    z-index: 20;
    margin-top: 120px;
	padding: 320px 80px;

}
#section-3 .phone {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: transparent url('../img/section06-bg-m.jpg') 50% no-repeat;
    background-size: cover;
}
@media(min-width:768px) {
    #section-3 {
    background-image: url('../img/section06-bg.jpg');
}
#section-3 .info {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -42px;
}
#section-3 .phone {
    left: 5%;
    bottom: 0;
    width: 40%;
    min-width: 610px;
    height: 100%;
    background-image: url('../img/section06-phone.png');
}
}
#section-4 {
    background-image: url('../img/section03-bg.jpg');
}
#section-4 .info {
    position: relative;
    z-index: 20;
    margin-top: 120px;
    padding: 0 30px;
}
#section-4 .stores {
    display: none;
}
#section-4 .phone {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    max-height: 450px;
    background: transparent url(../img/section03-phone-m.png) 100% 100% no-repeat;
    background-size: 80% auto;
}
@media(min-width:768px) {
    #section-4 .info {
    position: absolute;
    right: 0;
    top: 25%;
    margin-top: -42px;
    padding: 0;
}
#section-4 .stores {
    display: block;
    position: absolute;
    right: 0;
    bottom: 5%;
    z-index: 10;
    width: 610px;
    height: 480px;
    background: transparent url(../img/section03-stores.png) 50% 100% no-repeat;
}
#section-4 .phone {
    width: 474px;
    max-height: 641px;
    background-image: url(../img/section03-phone.png);
    background-position: 0 100%;
    background-size: auto;
}
}
#section-5 {
    background-image: url('../img/section04-bg.jpg');
}
#section-5 .info {
    position: relative;
    z-index: 20;
    margin-top: 120px;
    padding: 0 30px;
}
#section-5 .phone {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 90%;
    background: transparent url(../img/section04-phone-m.png) 50% 100% no-repeat;
    background-size: cover;
}
@media(min-width:768px) {
    #section-5 .info {
    position: absolute;
    left: 0;
    top: 30%;
    margin-top: -42px;
    padding: 0;
}
#section-5 .phone {
    width: 80%;
    min-width: 1004px;
    background-image: url(../img/section04-phone.png);
}
}
#section-6 {
    background-image: url('../img/section05-bg.jpg');
}
#section-6 .info {
    position: relative;
    z-index: 20;
    margin-top: 120px;
    padding: 0 30px;
}
#section-6 .phone {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 60%;
    background: transparent url('../img/section05-phone-m.png') 50% 0 no-repeat;
    background-size: cover;
}
@media(min-width:768px) {
    #section-6 .info {
    position: absolute;
    right: 0;
    top: 40%;
    margin-top: -42px;
    padding: 0;
}
#section-6 .phone {
    height: 100%;
    background-image: url('../img/section05-phone.png');
}
}

#section-7 {
    background-image: url('../img/section07-bg.jpg');
}
#section-7 .info {
    position: relative;
    margin-top: 130px;
}
#section-7 .info h3 {
    margin-bottom: 30px;
    text-align: center;
}
@media(min-width:768px) {
    #section-7 .info {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    margin-top: -65px;
}
}
.footer-company {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    color: #a6c5c8;
    background-color: #141e28;
}
.footer-company .footer-foodomo {
    float: right;
}
.footer-company .ul-links {
    margin: 0 0 35px 0;
    padding: 0;
    list-style: none;
}
.footer-company .ul-links li a {
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.footer-company .ul-links li a:hover {
    color: #fff;
}
.footer-company .company p {
    margin-bottom: 3px;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 12px;
}
.footer-company .company span {
    display: block;
    margin-bottom: 3px;
}
@media(min-width:768px) {
    .footer-company .footer-foodomo {
    margin-top: 30px;
}
.footer-company .ul-links {
    margin-bottom: 10px;
}
.footer-company .company p {
    margin-bottom: 5px;
}
.footer-company .company span {
    display: inline-block;
    margin: 0 10px 0 0;
}
}
html.fp-enabled, .fp-enabled body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#superContainer {
    position: relative;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}
.fp-section {
    position: relative;
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    display: none;
    position: fixed;
    top: 50%;
    z-index: 100;
    margin-top: -84px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.right {
    right: 35px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav {
    position: absolute;
    left: 50%;
    z-index: 4;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul, .fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-bottom: 8px;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background-color: #000;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    background-color: #e23826;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    background-color: #e86051;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {
    width: auto;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
    height: auto !important;
}
@media(min-width:768px) {
    #fp-nav {
    display: block;
}
}
